nav > ul > li{
    display: inline;
   margin-right: 20px;
}
nav > ul{
    text-align: center;
}
nav li >a{
    text-decoration: none;
}
nav li:hover{
    color: tomato;
    background-color: rgb(225, 222, 221);
}
footer{
    margin-top:30px ;
    text-align: center;
}
